# Imports libs

In [1]:
import pandas as pd
import random
from snorkel.labeling import labeling_function

# Populates database

https://drive.google.com/drive/u/0/folders/1l4Sglxenwaa7HYzWDQJQuB5t_iGyuA3t

In [6]:
base = 'database.txt'
data = pd.read_csv(base, sep='\t', header=None)

In [7]:
data

                                                         0
0        '@galliyanamiteva kkkkkkkkkk eu sou bue caseir...
1        'Covid-19: Brasil tem 28,7 milhões de casos e ...
2        'A mesma globo que recentemente defendia o iso...
3        'Covid era altura de fazeres a tua parte e aju...
4        'Feriadão prolongado desse e não vou poder ver...
...                                                    ...
5000095  '@Pequenaquenga É tipo o teste do covid, fazia...
5000096  '#Cloroquina | Ex-ministro Mandetta reafirmou ...
5000097                          'covid vai embora nunca?'
5000098  'Dia até agora constrangedor na CPI. Senadores...
5000099  'é o 3º aluno da minha prof que morr3u esse an...

[5000100 rows x 1 columns]